

#text {
	margin: 1.5em ;
}

#next {
	margin: 1.5em ;
}

button.next.classic-ui {
	display: block ;
	background-color: #faa ;
	padding: 0.8em 2em ;
	margin: 0.8em 0 ;
	border-radius: 1em ;
	cursor: pointer ;
}

button.next.classic-ui:hover {
	background-color: #f77 ;
	text-decoration: underline ;
}

