

#text {
	padding: 1em ;
}

#next {
	margin-top: 3em ;
	padding: 1em ;
}

a.next.classic-ui {
	background-color: #faa ;
	padding: 1em 3em ;
	border-radius: 1em ;
	cursor: pointer ;
}

a.next.classic-ui:hover {
	background-color: #f77 ;
	text-decoration: underline ;
}

