
'scopeName': 'source.kfg'
'name': 'KFG'
'fileTypes': ['kfg','spellbook']
'patterns': [
	{
		# Whole line
		'match': '^([\\t ]*)(\\S.*)$'
		'name': 'meta.line.kfg'
		'captures':
			# Indentation
			'1':
				'name': 'punctuation.whitespace.indentation.kfg'
				'patterns': [
					{
						# Incorrect indentation: mixing tabs and spaces
						'match': '\\t+ +[\\t ]+| +\\t+[\\t ]+'
						'name': 'invalid.illegal.whitespace.kfg'
					}
					{
						# Incorrect space indentation: not a 4-spaces indentation
						'match': '^(    )*( |  |   )$'
						'name': 'invalid.illegal.whitespace.kfg'
					}
				]

			# Line content
			'2':
				'patterns': [
					{
						# Comment
						'match': '^#.*$'
						'name': 'comment.line.number-sign.kfg'
					}
					{
						# Tag
						'match': '^(\\[) *([^ ]+) *(?: +([^ \\]](?:[^\\]]*[^ \\]])?) *)?(\\])\\s*(.*)$'
						'captures':
							'1':
								'name': 'punctuation.definition.tag.kfg'
							'2':
								'name': 'entity.name.tag.kfg'
							'3':
								'name': 'entity.other.attribute-name.kfg'
							'4':
								'name': 'punctuation.definition.tag.kfg'
							'5':
								'patterns': [
									{
										'include': '#value'
									}
								]
					}
				]

	}
]

'repository':
	'value':
		'name': 'meta.value.kfg'
		'patterns': [
			{
				'match': '^(>) (.*)$'
				'captures':
					'1':
						'name': 'punctuation.definition.string.introduced.kfg'
					'2':
						'name': 'string.unquoted.introduced.kfg'
			}
			{
				'match': '^(\\$>) (.*)$'
				'captures':
					'1':
						'name': 'punctuation.definition.string.introduced.template.kfg'
					'2':
						'name': 'string.unquoted.introduced.template.kfg'
			}
			{
				'match': '^(\\$=) (.*$)'
				'captures':
					'1':
						'name': 'punctuation.definition.expression.kfg'
					'2':
						'name': 'meta.expression.kfg'
			}
			{
				'match': '^(\\$)([a-zA-Z0-9.\\[\\]_-]*)$'
				'captures':
					'1':
						'name': 'punctuation.definition.variable.kfg'
					'2':
						'name': 'variable.other.kfg'
			}
		]
