


			/* Layout */



body {
	font-family: sans-serif;
	font-size: 16px;
}

.scene-image {
	position: fixed;
	z-index: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background-image: url("/backgrounds/default.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	/*cursor: pointer;*/

	opacity: 1;
	transition: opacity 2s ;
}

#content {
	position: relative;
	z-index: 1;
	padding-top: 1em;	/* it seems to bug with 0 */
	padding-bottom: 1em;
	margin: 0;
	margin-left: 0%;
	min-height: 100vh;
	box-sizing: border-box;
	width: 50%;
	background-color: rgba(220,220,200,0.6);
	opacity: 1;
	box-shadow: 0px 0px 10px 1px #000;
	transition: opacity 0.5s , margin 0.3s;
}

#content[data-position="right"] {
	margin-left: 50%;
}

.hidden {
	opacity: 0 !important;
}

.history-wrapper {
	margin: 0 1.5em 1.5em 1.5em;
	overflow: hidden;
}

#text {
	margin: 1.5em;
}

#next {
	margin: 1.5em;
}

#hint {
	margin: 1.5em;
}

#chat {
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 2;
	padding: 0.2em 1em;
	box-sizing: border-box;
	background-color: rgba(200,200,220,0.6);
	opacity: 1;
	transition: opacity 0.5s;
}

#chat-form {
}

#chat-input {
	width: 85%;
}



			/* Paragraph, span, text message... */



.history {
	opacity: 0.5;
	background-color: rgba( 255 , 255 , 255 , 0.2 );
	max-height: 20vh;
	overflow-y: scroll;
	width: 100%;
	padding-right: 20px;
}

segment {
	display: block;
	margin-top: 1em;
}

p {
	margin: 0.2em 0em;
}



			/* Dialog box */



.dialog-wrapper {
	display: table-cell;
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity: 1;
	transition: opacity 400ms ease-in;
}

.dialog-wrapper.empty {
	display: none;
	opacity:0;
}

.dialog {
	display: block;
	color: #fff;
	
	width: 40%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #777;
	
	border-image: url( '/boxes/geometric-box.svg' ) 30;
	border-image-repeat: round;
}



.end {
	background-color: #fce94f;
	margin: 2em 30%;
	border-radius: 10px;
	padding: 10px 20px;
	text-align: center;
	text-shadow: 1px 1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff, -1px -1px 1px #fff;
}

.win {
	background-color: #34e2e2;
}

.lost {
	background-color: #ef2929;
}

.draw {
	background-color: #8ae234;
}

.wait {
	background-color: #75507b;
	margin: 2em 20%;
	border-radius: 10px;
	padding: 10px 20px;
	text-align: center;
	text-shadow: 1px 1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff, -1px -1px 1px #fff;
}



			/* Chat / Input */



input[type=text].text-input {
	display: inline;
	width: 50%;
}



			/* Choices and buttons */



.choices group {
	display: flex;
	flex-flow: column;
}

.choices group {
	display: flex;
	flex-flow: column;
}

.choices[data-choice-style="list"] group , .choices[data-choice-style="smallList"] group {
	flex-flow: column;
}

.choices[data-choice-style="inline"] group , .choices[data-choice-style="smallInline"] group {
	flex-flow: row wrap;
	justify-content: space-around;
}

.choices[data-choice-style="smallList"] .choice , .choices[data-choice-style="smallInline"] .choice {
	font-size: 0.9em;
	padding: 3px 10px;
	margin: 4px 10px;
}

.choices[data-choice-style="table"] {
	display: table;
	border-collapse: separate;
	border-spacing: 1em 0.6em;
}

.choices[data-choice-style="table"] group {
	display: table-row;
}

.choices[data-choice-style="table"] group .choice {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.choices.columns-2[data-choice-style="table"] group .choice { width: 50%; }
.choices.columns-3[data-choice-style="table"] group .choice { width: 33%; }
.choices.columns-4[data-choice-style="table"] group .choice { width: 25%; }
.choices.columns-5[data-choice-style="table"] group .choice { width: 20%; }

.choice .image {
	max-height: 2em;
	vertical-align: middle;
}

.choice.has-image .label {
	margin-left: 0.6em;
}

.choice {
	display: block;
	position: relative;
	/*text-align: left;*/
	text-align: center;
	border: none;
	outline: none;
	background-color: #aaa ;
	padding: 6px 10px;
	margin: 8px 10px;
	cursor: pointer ;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 10px ;
	box-shadow: 0 4px #3c3c3c;
	top: 0px;
}

.choice:hover {
	background-color: #f77 ;
	box-shadow: 0 2px #3c3c3c;
	top: 2px;
}

.choice:active {
	box-shadow: 0 0 #3c3c3c;
	top: 6px;
}

.choice:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}


.choice.next {
	background-color: #dabff3;
	box-shadow: 0 4px #b07ee0;
}

.choice.next:hover {
	background-color: #e7dcf2;
	box-shadow: 0 2px #b07ee0;
}

.choice.next:active {
	box-shadow: 0 0 #b07ee0;
}

.choice.role {
	background-color: #b0ec79 ;
	box-shadow: 0 4px #3cab3c;
}

.choice.role:hover {
	background-color: #d1f3b2 ;
	box-shadow: 0 2px #3cab3c;
}

.choice.role:active {
	box-shadow: 0 0 #3cab3c;
}

p.unassigned-users {
	flex-basis: 100%;
	color: #555753;
	font-style: italic;
}

span.unassigned-users {
	color: #555753;
	font-style: italic;
}

p.waiting-roles {
	flex-basis: 100%;
	color: #555753;
}

span.waiting-roles {
	color: #555753;
	font-style: italic;
}



			/* Misc */



@keyframes pulse-animation {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.4;
	}
}

.pulse-animation {
	animation-name: pulse-animation;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-delay: 0ms;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-fill-mode: none;
	animation-play-state: running;
}



