@import url("https://fonts.googleapis.com/css?family=Indie+Flower");

@import url("css/alerts.css");
@import url("css/chat.css");
@import url("css/choices.css");
@import url("css/messages.css");


spellcast {
    font-family: 'Indie Flower', cursive;
	font-size: 24px;
}

#main-buffer {
	display: flex;
	flex-direction: column;
	height:100vh;
}

.scene-image {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background-image: url("../../backgrounds/default.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	opacity: 1;
	transition: opacity 2s ;
}
