.choices {
	order:1;
}

.choices:empty {
	display:none;
}

.choices .choice,
.choice {
	font-family:inherit;
	font-size:inherit;
	color:white;
	display:block;
	width:auto;
	padding:10px;
	background:#333;
	border:none;
	margin:2px;
	width:100%;
	box-sizing: border-box;
}

.choices .choice:hover,
.choice:hover {
	color:red;
	cursor:pointer;
}
.choices p { display: block; }

.choices .choice:active,
.choice:active {
}



.choices .choice.next {
}

.choices .choice.next:hover {
}

.choices .choice.next:active {
}


.choices .choice.role {
}

.choices .choice.role:hover {
}

.choices .choice.role:active {
}



.choices p.unassigned-users {
	color: #555753;
}

.choices span.unassigned-users {
	color: #555753;
	font-style: italic;
}

.choices p.waiting-roles {
	color: #555753;
}

.choices span.waiting-roles {
	color: #555753;
	font-style: italic;
}
