@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body {
    font-family: 'Indie Flower', cursive;
	font-size: 24px;
}

#content {
	display: flex;
	flex-direction: column;
	height:100vh;
}

.scene-image {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background-image: url("default.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	opacity: 1;
	transition: opacity 2s ;
}


	/* TEMPORARY */
.messages , .choices {
	width:50%;
	box-sizing: border-box;
	margin:auto;
}

	/* MESSAGES */

.messages {
	order:2;
	border:5px solid #000;
	padding:10px;
}
.messages:empty {
	display:none;
}

.messages .text {}

.messages input[type=text].text-input {
	display: inline;
	width: 50%;
}


	/* CHOICES */

.choices {
	order:1;
}

.choices:empty {
	display:none;
}

.choices button,
.choice {
	font-family:inherit;
	font-size:inherit;
	color:white;
	display:block;
	width:auto;
	padding:10px;
	background:#333;
	border:none;
	margin:2px;
	width:100%;
	box-sizing: border-box;
}

.choices button:hover,
.choice:hover {
	color:red;
	cursor:pointer;
}
.choices p { display:none; }

.choices button:active,
.choice:active {
}



.choices button.next {
}

.choices button.next:hover {
}

.choices button.next:active {
}


.choices button.role {
}

.choices button.role:hover {
}

.choices button.role:active {
}



.choices p.unassigned-users {
	color: #555753;
}

.choices span.unassigned-users {
	color: #555753;
	font-style: italic;
}

.choices p.waiting-roles {
	color: #555753;
}

.choices span.waiting-roles {
	color: #555753;
	font-style: italic;
}




	/* ALERTS */

.alerts .end {
	background-color: #fce94f;
	margin: 2em 30%;
	border-radius: 10px;
	padding: 10px 20px;
	text-align: center;
	text-shadow: 1px 1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff, -1px -1px 1px #fff;
}

.alerts .win {
	background-color: #34e2e2;
}

.alerts .lost {
	background-color: #ef2929;
}

.alerts .draw {
	background-color: #8ae234;
}

.alerts .wait {
	background-color: #75507b;
	margin: 2em 20%;
	border-radius: 10px;
	padding: 10px 20px;
	text-align: center;
	text-shadow: 1px 1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff, -1px -1px 1px #fff;
}


#chat { display:none; }

#chat {
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 2;
	padding: 0.2em 1em;
	box-sizing: border-box;
	background-color: rgba(200,200,220,0.6);
	opacity: 1;
	transition: opacity 0.5s;
}

#chat-input {
	width: 85%;
}
